
<div class="row text-center">
	<div class="col-md-8 col-md-offset-2">
		<%= flash_messages %>
		<div class="embed-responsive embed-responsive-16by9">
			<iframe src="//player.vimeo.com/video/106489270" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<!--<iframe class="embed-responsive-item" src="http://vimeo.com/103222976"></iframe> -->
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-5 text-center handbook-button">
			<%= link_to image_tag('logo_handbook.png'), controller: 'handbook' %>
		</div>
		<div class="col-md-2">
			&nbsp;
		</div>
		<div class="col-md-5 text-center globalinfection-button">
			<%= link_to image_tag("knapp2.png"), controller: 'continents' %>
		</div>
	</div>
</div>


