
<div class="row text-center">
	<div class="col-md-8 col-md-offset-2">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe src="//player.vimeo.com/video/103222976" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			<!--<iframe class="embed-responsive-item" src="http://vimeo.com/103222976"></iframe> -->
		</div>
	</div>
</div>
<div class="row text-center">
	<h1><%= link_to 'Continue', controller: 'continents' %></h1>
</div>