
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>About the campaign</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>
			The vision behind this campaign is to raise awareness of corruption, arouse curiosity and challenge young people’s attitude towards the topic. A corrupt act is to abuse the power entrusted in you for your own gain (definition by <a href="http://www.transparency.org/">Transparency International</a>), and it inflicts people in all corners of the world, of all ages. Corruption is not always easy to spot, as it is a complex phenomenon with many grey areas. With this campaign we hope to provide relevant and important information about corruption and shed light on the many different shades of it. 
			<br>
			<br>
			<br>
			<h2>About us</h2>
			<a href="http://www.isfit.org/">ISFiT</a>, the International Student Festival in Trondheim, and is a non-profit organization made up of more than 400 student volunteers. The theme for ISFiT 2015 is corruption and  the vision of ISFiT is to create a better future for young people in the world. This campaign is founded on this vision.
			
		</p>
	</div>
</div>
<div class="row text-center">
	<h1><%= link_to 'Go back', {controller: 'continents'}, class: "go-back-button-info" %></h1>
</div>