
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>About the campaign</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p>
			How does corruption affect you? Have you felt the consequences of corruption? Do you care? Are there any solutions?
			<br>
			<br>
			A corrupt act is to abuse the power entrusted in you for your own gain (definition by <a href="http://www.transparency.org/">Transparency International</a>), and it inflicts people in all corners of the world, of all ages. Every year more than 2600 billion dollars, more than 5 percent of the world economy, are lost to corruption. What does corruption do to the power structures of society? The trust in democratic processes and the stability of political institutions? Investments costs and conditions for competition? Political and economic development? 
			Corruption affects all of this, all over the world.
			<br>
			<br>
			The vision behind this campaign is to raise awareness of corruption, create curiosity and challenge young people’s attitude towards the topic. Corruption is not always easy to spot, as it is a complex phenomenon with many grey areas. With this campaign we hope to provide relevant and important information about corruption and shed light on the many different shades of it. This way, we can make corruption something tangible. Once we see it clearly, we know what we’re up against – and that will enable us to take action.

			<br>
			<br>
			<br>
			<h2>About us</h2>
			<a href="http://www.isfit.org/">ISFiT</a>, the International Student Festival in Trondheim, is a non-profit organization made up of more than 400 student volunteers. The theme for ISFiT 2015 is corruption and the vision of ISFiT is to create a better future for young people in the world. This campaign is founded on this vision and we want to challenge people’s attitudes towards corruption. What are the solutions?
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>


			We are not responsible for the content in the stories on the webpage and we claim the right to use the content in the stories on other social medias.
		</p>
	</div>
</div>
<div class="row text-center">
	<h1><%= link_to 'Go back', {controller: 'continents'}, class: "go-back-button-info" %></h1>
</div>