<div class="row top-bar" id="top"></div>
<a href="/handbook"><div class="handbooklogo_show"></div></a>



<div class='container-fluid'>
	<div class="col-md-10 col-md-offset-1 background-chapter info">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
			<h2>
				Introduction by Marius Jones
			</h2>
			<p>
              The International Student Festival in Trondheim (ISFiT) is the largest thematic international student festival in the world, arranged every other year. Of about 5000 applicants, 450 students from more than 100 countries were chosen to participate.
              <br /><br />
              The theme of ISFiT 2015 was corruption. During the ten festival days in February the participants took part in eighteen workshops (WS) – each addressing corruption from a different perspective.
              <br /><br />
              While visiting ISFiT and Norway, the Dalai Lama said that corruption is like a cancer – a serious disease infecting people all around the world. Corruption affects communities on all levels across the world by influencing the power structures, threatening the trust of democratic processes and the stability of political institutions.
              <br /><iframe width="100%" height="600" src="https://www.youtube.com/embed/hTku7usrfgM?rel=0" frameborder="0" allowfullscreen></iframe><br />
              Prior to the festival itself, ISFiT launched a campaign in the form of the website theglobalinfection.com. Here, anyone, whether they are victims of corruption or guilty of corrupt acts themselves, can submit their stories on corruption. This campaign has been aimed at creating awareness for corruption, and the many forms it appears in.
              <br /><br />
              This publication is a continuation of this campaign. It consists of stories from the website, contributions from several experts on corruption, and articles on the work laid down in the WS. The goal is to provide ideas and knowledge, and to spread awareness on the severity of corruption.
              <br /><br />
              Out of the total of eighteen WS, we have chosen to write about four: Development, governance, capital flow and education. If we could, we would have featured all of them, for the ideas and creativeness we have seen emerge from each workshop should be traded with everyone, but that would have simply gone beyond the scope of this book.
              <br /><br />
              The last chapter is dedicated to ISFiT Parliament, which was held to create a united statement on behalf of students worldwide, addressing an issue that prevents political, social and economic development globally.
              <br /><br />
              The extensive work that the participants laid down both before and during the festival is the foundation of this book. Their immense engagement proves that corruption is among the greatest concerns of perhaps the biggest demographic group in the world: youths.
              <br /><br />
              We are now seeing, only weeks after the festival ended, the impact of ISFiT 2015. Anti Corruption International has been formed independently in the aftermath of the festival. We are excited to see what this newly formed organization will accomplish in the future.
              <br /><br />
              Note: Freedom of speech is not guaranteed all over the world, and some of the participants risk retributions for voicing their opinions. Therefore, we have decided against using the last names of the participants.
            <br />
              <iframe width="100%" height="600" src="https://www.youtube.com/embed/kYSxw4HdXrQ?rel=0" frameborder="0" allowfullscreen></iframe>
            </p>
			</div>
		</div>
	</div>
</div>