<div class="top-bar">
</div>
<div class="background-chapter">
<div class="row">
	<div class="col-md-8">
		<div class="header-chapter"> Call for bids </div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<hr>
	</div>
	<div class="col-md-3 col-md-offset-1">
		<hr>
	</div>
</div>
<div class="row">
		<div class="col-md-8">
			<section id="welcome">
				<p>
					bla bla
				</p>
			</section>
			<section id="become" class="chapter_section">
				<p>
					iausdibs isi disnfkjds sd nsdnfasluh owkndsifn kwnf sai
				</p>
			</section>
		</div>	
	<div class="col-md-3 col-md-offset-1 sidebar visible-lg">
		<nav role="navigation">
              <ul class="nav nav-left">
                <li><a href="#welcome"></i><div class="navigation-button"><b>Intro</b></div></a></li>
                <li><a href="#become"></i><div class="navigation-button"><b>History</b></div></a></li>
                <li><a href="#what"></i><div class="navigation-button"><b>Actions</b></div></a></li>
                <li><a href="#why"></i><div class="navigation-button"><b>Stories</b></div></a></li>
                <li><a href="#do"></i><div class="navigation-button"><b>Conclusion</b></div></a></li>
			</ul>
        </nav>
	</div>
</div>
</div>