<div class="row top-bar" id="top"></div>
<a href="/handbook"><div class="handbooklogo_show"></div></a>



<div class='container-fluid'>
	<div class="col-md-10 col-md-offset-1 background-chapter">
		<div class="row">
			<div class="col-md-8 col-md-offset-1">
				<section id="become">
					<div class="header-chapter"><%= @handbook.name %></div>
					<div class="col-md-8 line" id="intro" ></div>
					<h2>Introduction</h2>
					<p>
						<%= simple_format @handbook.intro %>
					</p>

				</section>
				<section id="stories">
					<h2>Stories</h2>
					<p>
						<%= simple_format @handbook.conclusion %>
					</p>
					
				</section>
				<section id="discussion">
					<h2>Discussion</h2>
					
					<p>
						<%= simple_format @handbook.conclusion %>
					</p>

				</section>
			</div>	
			<div class="col-md-2 sidebar visible-lg">
				<nav role="navigation">
		              <ul class="nav nav-left hoverlist">
		                <li><a href="#top"></i><div class="navigation-button"><b>Top of the site</b></div></a></li>
		                <li><a href="#intro"></i><div class="navigation-button"><b>Introduction</b></div></a></li>
		                <li><a href="#stories"></i><div class="navigation-button"><b>Stories</b></div></a></li>
		                <li><a href="#discussion"></i><div class="navigation-button"><b>Discussion</b></div></a></li>
					</ul>
		        </nav>
			</div>
		</div>
	</div>
</div>