<div class="row" >

	<div class="col-md-2">
		<%= link_to image_tag("WEF-logo.jpg", class: "img-responsive"), "http://wef.ch/corruptionsurvey" %>
	</div>
	<div class="WEF-text col-md-10" >
		<p>
			Contribute further in the fight against corruption - share your perspectives and experiences of corruption with the World Economic Forum and the United Nations Office on Drugs and Crime. Take a few minutes to complete their short survey here 
			<%= link_to "\"Millennial Perspectives on Corruption\"", "http://wef.ch/corruptionsurvey" %>
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-7 UNODC-logo">
		<%= link_to image_tag("UNODC_logo.jpg", class: "img-responsive"), "http://wef.ch/corruptionsurvey" %>
	</div>
</div>
<div class="row">
	<hr>
</div>