<hr>
<div class="row" >
	<div class="col-md-3" >
		<%= link_to image_tag("WEF-logo.jpg", class: "img-responsive"), "http://wef.ch/corruptionsurvey" %>
	</div>
	<div class="col-md-9 WEF-text" >
		<p>
			Contribute further in the fight against corruption - give World Economic Forum your data
		</p>
		<%= link_to "Take the survey", "http://wef.ch/corruptionsurvey" %>
	</div>
</div>