<div class="row">
	<div class="col-md-6 text-center">
		<h2 class="button-border">
			<%= link_to " #theglobalinfection", {controller: "welcome", action: "index"}, class: "frontpage-button" %>
		</h2>
	</div>
	<div class="col-md-6 text-center">
		<h2 class="button-border"><%= link_to 'About the campaign', {controller: 'welcome', action: 'info'}, class: "frontpage-button" %></h2>
	</div>
</div>
<hr>

<div id="map-continents">
	<ul class="continents">
		<li class="c1"><a href="#africa">Africa</a></li>
		<li class="c2"><a href="#asia">Asia</a></li>
		<li class="c3"><a href="#australia">Australia</a></li>
		<li class="c4"><a href="#europe">Europe</a></li>
		<li class="c5"><a href="#north-america">North America</a></li>
		<li class="c6"><a href="#south-america">South America</a></li>
	</ul>
</div>
<hr>
<div class="row">
	<div class="col-md-2 text-center" >
		<h1>
			?
		</h1>
	</div>
	<div class="col-md-10 map-info" >
		<p>
			Use the map to navigate between the different continents. Share your own experience with corruption or read and discuss other people’s stories. 

			Not sure if your story actually is a story of corruption? Please share, and see what the rest of the world thinks!
		</p>
	</div>
</div>

<%= render "wef" %>

<%= render "instagram" %>

<hr>
