
<div class="row">
	<div class="col-md-4 text-center">
		<h1>#globalinfection</h1>
	</div>
	<div class="col-md-4 text-center">
		<%= link_to 'Info', controller: 'welcome', action: 'info' %>
	</div>
</div>
<div class="row">
	<div class="jumbotron">
		<h4>Select a continent to read stories and commit your own</h4>
	</div>
</div>

<div id="map-continents">
	<ul class="continents">
		<li class="c1"><a href="#africa">Africa</a></li>
		<li class="c2"><a href="#asia">Asia</a></li>
		<li class="c3"><a href="#australia">Australia</a></li>
		<li class="c4"><a href="#europe">Europe</a></li>
		<li class="c5"><a href="#north-america">North America</a></li>
		<li class="c6"><a href="#south-america">South America</a></li>
	</ul>
</div>
