// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.required:after {
  content: "*";
  padding-left:1%;
}

.form-control{
    width:97%;
    float:left;
}

.frontpage-button{
	color:#000;	
}
.frontpage-button:hover{
	color:#C27975;
}


.stories {
	.story-text {
		padding-bottom: 30px;
	}
}

