// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.required:after {
  content: "*";
  padding-left:1%;
}

.form-control{
    width:97%;
    float:left;
}

.frontpage-button{
	color:#000;	
}
.frontpage-button:hover{
	color:#C27975;
}


.stories {
	.story-text {
		padding-bottom: 30px;
	}
}
.facebook-tag{
  vertical-align: middle;
  border: 1px solid #3b5998;
  background-color: #3b5998;
  text-decoration: none;
  display: inline-block;
  margin-right: 10px;
  .fa-facebook{
    text-decoration: none;
    background-color: #3b5998;
    color: #FFF;
    border-radius: 0;
    border: 0;
    margin-left: 4px;
    margin-top: 1px;

  }
  .fb-counter{
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    display: inline-block;
    height: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }
}
.twitter-tag{
  vertical-align: middle;
  border: 1px solid #55acee;
  background-color: #55acee;
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  .fa-twitter{
    text-decoration: none;
    background-color: #55acee;
    color: #FFF;
    border-radius: 0;
    border: 0;
    margin-left: 4px;
    margin-top: 1px;

  }
  .twitter-counter{
    text-decoration: none;
    background-color: #FFF;
    color: #000;
    display: inline-block;
    height:100%;

    padding-left: 4px;
    padding-right: 4px;
  }
}

